<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.contacts">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application>


</application>

    </manifest>
